/* Don't change the existing CSS. */

#outer-box{
  background-color: purple;
}
.box {
  background-color: blue;
  padding: 10px;
}
.white-text{
  background-color: red;
  padding: 10px;
  color: white;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

